<html>
    <head>
        <title>Mara's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Mara's blog - A Django Girls experience</a></h1>
        </div>

        <div>
            <p>published: 27.02.2016, 15:54</p>
            <h2><a href="">My first post</a></h2>
            <p>Primo post di prova</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Secondo post di prova</p>
        </div>
    </body>
</html>
